# Auth con  Clerk
# Obtén estas claves en: https://clerk.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Rutas de autenticación
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/registro
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/menu
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/menu


# Configuración SMTP de Gmail
# IMPORTANTE: Usa una App Password, no tu contraseña normal
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
